	html {
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		font-family: benton-sans, system-ui;
		background: #eae6da url('../img/bg.jpg') fixed repeat;
		background-size: 800px auto;
		overflow-x: hidden;
	}

	p {
		margin: 0.7em 0;
		font-size: 1em;
		font-size: 500;
		line-height: 1.6em;
		text-align: left;
	}

		strong {
			font-weight: 600 !important;
		}

		a { color: #000; }

		.emph { font-size: 1.4em; font-weight: 500; }

	.imgHover .static { display: block; }
	.imgHover .hover { display: none; }
	.imgHover:hover .static { display: none; }
	.imgHover:hover .hover { display: block; }

	.imgHover:hover .popup-left, .imgHover:hover .popup-right { display: none; }

	h1, h2, h4, h6 {
		font-family: benton-sans-condensed, sans-serif;
	}

	a { text-decoration: none; }

	p a, h3 a, .byline a { text-decoration: underline; }

	h1 {
		margin: 20px 0;
		font-size: 4.4em;
		line-height: 1em;
		text-transform: uppercase;
	}

		.border-only {
			color: #eae5dd;
			-webkit-text-stroke: 1px black;
		}

	h2 {
		margin: 7px 0 0;
		font-weight: 500;
		font-size: 1.2em;
		text-align: left;
	}

	h3 {
		margin: 0 0 0 7px;
		font-weight: 500;
		font-size: 1em;
		text-align: left;
		font-weight: 400;
	}

	h4 {
		margin: 0.5em 0;
		font-weight: 400;
		font-size: 4.76vw;
		text-transform: none;
	}

	h5 {
		margin: 20px auto -5px;
		width: 95%;
		font-family: freight-text-pro, serif;
		font-size: 1.25em;
		font-weight: 300;
		font-style: italic;
		letter-spacing: 0.015em;
		text-align: center;
	}

	h6 {
		margin: 7px 0 0 7px;
		font-weight: 400;
		font-size: 1.1em;
		text-align: center;
	}

	img { max-width: 100%; }

	.externalLinkOut {
		display: inline-block;
		width: 25px;
		height: 20px;
		background: url('../img/open.png') no-repeat right -7px bottom;
		background-size: 30px auto;
	}

	blockquote {
		margin: 20px auto;
		width: 90%;
		font-family: freight-text-pro, serif;
		font-size: 1.5em;
		line-height: 1.4em;
		font-weight: 300;
		/* font-style: italic; */
		text-align: center;
	}

		.byline {
			margin: 15px 0 0 0;
			font-style: normal;
			font-size: 0.9em;
			text-align: right;
		}

	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		box-sizing: border-box;
	}

		input:focus, button:focus { outline: none; }

	select#language {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 100px;
		height: 30px;
		padding: 0 15px 0 5px;
		-webkit-appearance: none;
   	-moz-appearance: none;
   	appearance: none;
		background: #ede7e1 url('../img/printables-tab.png') no-repeat;
		background-size: 16px auto;
		background-position: 74px 10px;
		font-family: benton-sans-condensed, sans-serif;
		font-size: 1.15em;
		font-weight: 500;
		border: 1px solid black;
		border-radius: 0;
		box-shadow: 0px 0px 2px rgba(0,0,0,0.15);
		z-index: 101;
	}

		#footer {
			padding: 0 0 15px 0;
			background: #efc335 url('../img/doodlebook.gif') no-repeat;
			background-size: 300px auto;
			background-position: center 20px;
			border-top: 2px solid black;
		}

      .footer-wrap {
        position: relative;
        width: 100vw;
        max-width: 800px;
        margin: 0 auto;
        padding: 120px 0 20px;
        text-align: center;
        z-index: 100;
      }

			#footer span.email {
				display: block;
				margin: 5px 0 15px;
				font-size: 1.1em;
				font-weight: 400;
				text-align: center;
			}

				#footer span.email a {
					font-weight: 500;
					text-decoration: none;
					border-bottom: 1px solid #000; }

			#footer .email-signup {
				padding: 200px 0 40px 0;
			}

			#footer input {
				border: 1px solid black;
				padding: 15px;
				font-family: benton-sans-condensed, sans-serif;
				font-size: 1.3em;
				font-weight: 500;
				letter-spacing: 0.01em;
			}

				#footer input.email, #footer input.submit {
					display: block;
					margin: auto;
					width: 280px;
					background: #eae6da;
				}

				#footer input.submit {
					width: 280px;
					background: #19426b;
					color: #fff;
					border-top: none;
				}

			#footer .copy {
				text-align: center;
			}


	@media screen
			and (min-device-width: 605px)
			and (min-width: 605px) {

				.imgHover:hover .popup-left, .imgHover:hover .popup-right { display: block; }

				.popup-left, .popup-right {
					position: absolute;
					width: 115px;
					padding: 5px;
					top: 15%;
					background: url('../img/bg.jpg') fixed repeat;
					font-size: 13px;
					border: 1px solid black;
					z-index: 101;
				}

					.popup-left { left: -135px; }
					.popup-right { right: -135px; }

				.popup-left:after, .popup-right:after {
					content: url('../img/popup-left.png');
					position: absolute;
					transform: scale(.3);
				}

				.popup-right:after {
					content: url('../img/popup-right.png');
					left: -17px;
					top: -10px;
				}

				.popup-left:after {
					content: url('../img/popup-left.png');
					right: -17px;
					top: -10px;
				}

				h1 { font-size: 6em; }

					.border-only {
						-webkit-text-stroke: 2px black;
					}

				h2 { font-size: 1.4em; }
				h3 { font-size: 1.6em; }

				#footer h5 {
					margin: 0 0 20px;
				}
	}
