.path {
  margin: -23px 0 0 0;
  padding: 10px 0 10px;
  position: relative;
  background: url('../img/green-gradient.png') repeat-x;
  background-size: auto 100%;
  background-position: 0 bottom;
  border-bottom: 2px solid #000;
}

.path h4 {
  display: none;
}

.path h2 {
  margin: 50px auto 30px;
  text-align: center;
  font-size: 6vw;
  width: 85%;
  /* font-weight: 400; */
}

  .path h2.launchDate {
    margin: 25px auto;
    font-size: 7vw;
  }

  .highlight {
    padding: 0 2px;
    background: #f6cf3a;
    border: 1px solid #edba3d;
    border-radius: 4px;
  }

  .path h2.launchDate .highlight {
    background: rgba(196,235,223,0.5);
    border: 1px solid rgba(152,213,194,0.5);
  }

    .path h2.launchDate:hover .highlight {
      background: rgba(196,235,223,1);
      border: 1px solid rgba(152,213,194,1);
    }

.path p {
  display: none;
  margin: 0 auto 30px;
  width: 85%;
  font-size: 1em;
  line-height: 1.9em;
}

.toggleStudentTeacher {
  margin: 10px auto 40px;
  padding: 0;
  width: 94%;
  background: rgba(255,255,255,0.4);
  border: 1px solid #000;
}

  .toggleStudentTeacher h2 {
    margin: auto;
    font-size: 4.8vw;
    font-weight: 400;
  }

  .studentsCan, .teachersCan {
    display: inline-block;
    margin: 0 -5px 20px 0;
    padding: 10px 0;
    width: 50%;
    border-bottom: 1px solid #000;
  }

    .teachersCan {
      border-left: 1px solid #000;
    }

    .canActive { border-bottom: none; }
    .canInactive {
      color: rgba(99,80,70,1);
      background: rgba(223,199,127,0.35);
    }

    .explainedActive { display: block; }
    .explainedInactive { display: none; }

    .path .prop {
      display: inline-block;
      margin: 0 -4px 20px 0;
      width: 49.75%;
    }

      .path .prop-thumb {
        display: block;
        margin: auto;
        width: 90%;
      }

      .path .prop h6 {
        margin: 10px auto 0;
        width: 70%;
        font-size: 4.2vw;
        line-height: 1.25em;
      }

        .path .prop h6.wider {
          width: 96%;
        }

        .teachersCanExplained .prop h6 {
          width: 80%;
        }

h5.pointsIntro {
	font-size: 8vw;
	margin: 10px 0 20px;
	width: 100%;
}

  .point {
    padding: 0 0 5px 0;
    background: url('../img/printables-tab.png') no-repeat left 14px top 10px;
    background-size: 12px auto;
  }

  .point h2 {
    margin: 10px auto 5px;
    padding: 0 0 0 22px;
    font-size: 5.2vw;
    width: 85%;
    text-align: left;
  }

    /* .point h2:before {
      content: url('../img/expand-tick.png');
    } */

  .point p {
    margin-bottom: 10px;
    padding: 2px 0 0 5vw;
    font-size: 0.9em;
    font-weight: 400;
  }

@media screen
			and (min-device-width: 420px)
			and (min-width: 420px) {

        .path h2 {
          font-size: 1.8em;
        }

        .point {
          background: url('../img/printables-tab.png') no-repeat left 22px top 10px;
          background-size: 14px auto;
        }

}

@media screen
		and (min-device-width: 410px)
		and (min-width: 410px) {

			h5.pointsIntro {
				font-size: 1.7em;
			}

}


@media screen
		and (min-device-width: 460px)
		and (min-width: 460px) {

      .path h4 {
        margin: 40px auto 0;
        display: block;
        font-size: 1.05em;
        /* color: #1b4e7b; */
        /* color: #7f4b2f; */
        color: #444;
        text-align: center;
      }

      .path h2 {
        margin: 15px auto 25px;
        font-size: 4.5vw;
      }

      .path h2.launchDate {
        font-size: 1.8em;
        margin: 30px auto;
      }

      .toggleStudentTeacher h2 {
        margin: auto;
        width: auto;
        font-size: 1.2em;
      }

      .path .prop h6, .path .prop h6.wider, .teachersCanExplained .prop h6 {
        width: 60%;
        font-size: 1.1em;
      }

        .path .prop h6.wider {
          width: 70%;
        }

    /* expandables */
      .point h2 {
        margin: 15px auto 5px;
        font-size: 1.3em;
      }

      .point p {
        margin: 5px auto 5px;
      }

}

@media screen
		and (min-device-width: 605px)
		and (min-width: 605px) {

  .leftSide, .rightSide {
    position: absolute;
    top: 0;
    border-top: 2px solid #000;
    width: calc(50vw - 300px);
  }

  .leftSide { left: 0; }
  .rightSide { right: 0; }

    .path {
      margin: -23px 0 0 0;
      position: relative;
      width: 100%;
      /* height: 400px; */
      border-bottom: 2px solid #000;
      overflow-x: hidden;
    }

    .path h4 {
      margin: 20px auto 10px;
      font-size: 1.3em;
    }

    .path h2 {
      margin: 20px auto 30px;
      width: 600px;
      font-size: 1.35em;
      line-height: 1.5em;
    }

    .toggleStudentTeacher {
      max-width: 700px;
      border: 2px solid #000;
    }

      .toggleStudentTeacher h2 {
        margin: auto;
        width: auto;
        font-size: 1.4em;
        font-weight: 500;
      }

      .studentsCan, .teachersCan {
        margin: 0 -5px 20px 0;
        border-bottom: 2px solid #000;
      }

        .teachersCan {
          border-left: 2px solid #000;
        }

        .canActive { border-bottom: none; }

      .path .prop h6, .path .prop h6.wider, .teachersCanExplained .prop h6 {
        width: auto;
      }

        /* expandables */
        h5.pointsIntro {
  				font-size: 2.1em;
  			}

        .point {
          margin: 0 auto;
          padding: 0 0 15px 0;
          width: 580px;
          background: url('../img/printables-tab.png') no-repeat left 0 top 10px;
          background-size: 15px auto;
          /* border: 1px solid red; */
        }

            .point h2 {
              margin: 0px 0 5px;
              padding: 0 0 0 30px;
              font-size: 1.2em;
              width: auto;
            }

            .point p {
              margin: 0 0 10px;
              padding: 0 0 0 30px;
              width: auto;
              font-size: 1em;
              line-height: 1.9em;
            }

}

@media screen
		and (min-device-width: 660px)
		and (min-width: 660px) {

      .path .prop h6, .path .prop h6.wider, .teachersCanExplained .prop h6 {
        font-size: 1.15em;
      }

      .path .prop h6.wider {
        width: 80%;
      }

}

		@media screen
				and (min-device-width: 860px)
				and (min-width: 860px) {

          .leftSide, .rightSide {
            top: 0px;
          }

          .path h4 {
            margin: 40px auto 20px;
          }

          .path h2 {
            margin: 20px auto 50px;
            font-size: 1.55em;
            width: 680px;
          }

        .toggleStudentTeacher {
          width: 94%;
          max-width: 1200px;
          text-align: center;
        }

          .toggleStudentTeacher h2 {
            margin: auto;
            width: auto;
            font-size: 1.6em;
          }

        .studentsCan, .teachersCan {
          width: 50.2%;
          margin: 0 -2px 20px -4px;
        }

         .teachersCan { width: 50%; margin-left: -3.5px; }

        .path .prop {
          display: inline-block;
          margin: 0 0 20px 0;
          width: 24%;
        }

          .path .prop-thumb {
            margin: auto;
            width: 90%;
          }

          .path .prop h6, .path .prop h6.wider, .teachersCanExplained .prop h6 {
            width: 90%;
            max-width: 190px;
            font-size: 1.15em !important;
            line-height: 1.4em;
          }

        /* expandables */
        .point {
          margin: 0 auto;
          padding: 0 0 5px 0;
          width: 680px;
          background: url('../img/printables-tab.png') no-repeat left 0 top 10px;
          background-size: 18px auto;
          /* border: 1px solid red; */
        }

            .point h2 {
              margin: 10px 0 5px;
              padding: 0 0 0 35px;
              font-size: 1.3em;
            }

            .point p {
              margin: 0 0 10px;
              padding: 0 0 0 35px;
            }


      }
