/* ---------- MODULES ---------- */

		.modules {
			margin: 5vw auto;
			width: 100%;
      text-align: center;
		}

		/* all */
		.modules .block {
			position: relative;
			border: 1px solid black;
			/* height: 245px; this is for when both printables and game are avail */
			height: 205px;
			margin-right: 0.5vw;
			box-sizing: border-box;
		}

		/* threes */
		.threes {
			display: inline-block;
			width: 30.5vw;
		}

			.threes:last-child, .twos:last-child { margin-right: 0; }

			.threes h2, .twos h2 {
				margin-bottom: 6px;
				font-size: 1.1em;
				line-height: 1.3em;
				width: 80px;
			}

				.threes h2.fsf {
					width: 110px;
				}

			.threes h3, .twos h3 {
				max-width: 100px;
				font-size: 0.9em;
			}

		/* twos */

		.twos {
			display: inline-block;
			margin: 6px 0 10px 0;
			vertical-align: top;
		}

			.twos.double {
				width: 31vw;
				border: none;
			}

				.twos.double .inner:first-child {
					margin-bottom: 6px;
					/* height: 230px; for when 2 links out */
					height: 190px;
				}

			.twos.plottwister {
				width: 62vw;
				/* height: 481px; for when 2 links out */
				height: 401px;
			}

				.twos.plottwister h2 {
					width: auto;
					font-size: 1.3em;
					margin-bottom: 2px;
				}

				.twos.plottwister h3 {
					max-width: 160px;
				}

		/* ones */
		.one {
			display: inline-block;
			width: 94.5vw;
			margin: 0 0 10px;
			height: auto !important;
			text-align: left;
		}

			.one h2 {
				margin: 0;
				padding: 8px 0 8px 10px;
				font-size: 1.5em;
				border-bottom: 1px solid black;
			}

		/* ---------- MODULE ACTIONS ---------- */

		.action-buttons {
			position: absolute;
			bottom: 0;
			margin-top: 20px;
			width: 100%;
		}

			.action-buttons .printable, .action-buttons .open, .printables-list {
				display: block;
				height: 40px;
				line-height: 2.5em;
				border-top: 1px solid black;
				background: #e9e2d7;
				font-family: benton-sans-compressed, sans-serif;
				font-weight: 500;
				font-size: 1em;
				text-align: left;
				padding-left: 10px;
				text-decoration: none;
			}

			.open, .action-buttons .open {
				background: #f4f1eb url('../img/open.png') no-repeat;
				background-size: 30px auto;
				background-position: right center;
			}

			.action-buttons .open:hover, .open:hover {
				background: #95dd61 url('../img/open.png') no-repeat;
				background-size: 30px auto;
				background-position: right center;
			}

      .action-buttons .printable:hover {
        background: #ffd349;
      }


/* ---------- PRINTABLES LIST HOVER ---------- */
.printables-list {
  display: none;
  position: absolute;
  left: -1px;
  width: 101.5%;
	height: auto;
  z-index: 100;
  padding: 0;
}

.action-buttons .printables-tab .printable {
  background: #e9e2d7 url('../img/printables-tab.png') no-repeat;
  background-size: 30px auto;
  background-position: right center;
}
.action-buttons .printables-tab .printable:hover {
  background: #dfd4c6 url('../img/printables-tab.png') no-repeat;
  background-size: 30px auto;
  background-position: right center;
}

  .action-buttons .printables-tab .printables-list .printable {
    margin: 0;
    clear: both;
    background: #e9e2d7;
    border: 1px solid black;
    border-top: none;
  }

  .action-buttons .printables-tab .printables-list .printable:hover {
    margin: 0;
    background: #f4da96;
  }

    .action-buttons .printables-tab .printables-list .download-all { background: #ffd349; }

    .action-buttons .printables-tab .printables-list .download-all:hover { background: #efc335; }

.printables-tab:hover .printables-list {
  display: block;
}

/* ---------- plot twister specifically ---------- */


@media screen
			and (min-device-width: 605px)
			and (min-width: 605px) {

        /* ---------- MODULES ---------- */

        				.modules {
									margin: 10px 0 0 0;
        				}

        				/* all */
        				.modules .block {
        					border: 2px solid black;
        					height: 190px;
        					margin: 0 5px 0 0;
        				}

        				/* threes */
        				.threes {
                  padding: 5px 0;
        					width: 194px;
        				}

									.threes.happy-lemons { margin-right: 0; }

                  .threes h2 {
										margin: 5px 0;
										width: auto;
                    font-size: 1.3em;
                    text-align: center;
                  }

										.threes h2.fsf {
											width: auto;
										}

        					.threes h3 {
                    margin: auto;
                    max-width: 160px;
                    text-align: center;
                  }

        					.threes:last-child { margin-right: 0; }

        				/* twos */

        				.twos {
        					display: inline-block;
        					width: 294px !important;
        					margin: 10px 0 10px !important;
        				}

									.twos.double {
										border: none;
									}

										.twos.double .inner {
											height: 172px !important;
										}

											.twos.double .inner:first-child {
												margin-bottom: 10px;;
											}

			                .inner h2 {
												width: auto;
			                  font-size: 1.35em;
			                  margin: 35px 0 0 90px;
			                }

			                .inner h3 {
			                  max-width: 150px;
			                  margin: 0 0 0 90px;
			                }

        				.twos.plottwister {
        					margin: 10px 0 0 0;
        					width: 302px !important;
        					height: 354px !important; /* will change */
        				}

									.plottwister h2 {
										font-size: 1.6em !important;
										margin-top: 10px;
								}

                  .plottwister h2, .plottwister h3 {
										margin-left: 12px;
										max-width: none !important;
										width: 260px;
                  }

        				/* ones */
        				.one {
        					width: 600px;
        					/* height: 180px !important; /* will change */
        					margin: 0 0 10px !important;
        				}

        /* ---------- MODULE ACTIONS ---------- */

									.action-buttons.unready .printable, .action-buttons.unready .open, .action-buttons.unready .printables-tab, .action-buttons.unready .printables-tab .printable {
										width: 100%;
										box-sizing: border-box;
										border-right: none;
										text-align: center;
									}

        					.action-buttons .printable, .action-buttons .open {
        						display: inline-block;
        						float: left;
        						height: 40px;
        						line-height: 2.3em;
        						font-size: 1.1em;
        					}

        					.action-buttons .printable {
        						width: 64px;
										border-right: 1px solid black;
        					}

        					.action-buttons .open {
        						width: 105px;
        						background: #f4f1eb url('../img/open.png') no-repeat;
        						background-size: 30px auto;
        						background-position: right center;
        					}

                  .double .action-buttons .open { width: 207px; }

/* ---------- HOMEWORK TWISTER PRINTABLE HOVER ---------- */

/*unready*/
.action-buttons.unready .printables-list {
	width: 100%;
}

  .action-buttons .printables-tab .printable {
		width: 100px;
		text-align: left !important;
	}

  .twos .action-buttons .open { width: 171px; }

  .printables-list {
    top: 40px;
		border-right: 1px solid black;
  }

  .printables-list .printable {
    display: block !important;
  }

}

/* ---------- BACKGROUND IMAGES ---------- */

.feelings-designer {
  background: url('../img/emotions-oc.gif') no-repeat;
  background-size: 165px auto;
  background-position: bottom 2px right -65px;
}

.five-second-futures {
  background: url('../img/playing-oc.gif') no-repeat;
  background-size: 165px auto;
  background-position: bottom 0 right -50px;
}

.happy-lemons {
  background: url('../img/contentment-oc.gif') no-repeat;
  background-size: 150px auto;
  background-position: bottom 5px right -50px;
}

.busy-bee {
  background: url('../img/waste-oc.gif') no-repeat;
  background-size: 190px auto;
  background-position: bottom 10px right -135px;
}

.protagonist-pages {
  background: url('../img/growth-oc.gif') no-repeat;
  background-size: 190px auto;
  background-position: bottom 5px right -130px;
}

.plottwister {
  background: url('../img/plottwister-oc.gif') no-repeat;
  background-size: 125% auto;
  background-position: bottom 20% right 30%;
}

@media screen
			and (min-device-width: 605px)
			and (min-width: 605px) {

        .feelings-designer {
          background: url('../img/emotions-oc.png') no-repeat;
          background-size: 100% auto;
          background-position: center 3px;
        }

          .feelings-designer:hover {
            background: rgba(255, 249, 233, 0.5) url('../img/emotions-oc.gif') no-repeat;
            background-size: 100% auto;
            background-position: center 3px;
          }

        .five-second-futures {
          background: url('../img/playing-oc.png') no-repeat;
          background-size: 100% auto;
          background-position: center 3px;
        }

          .five-second-futures:hover {
            background: rgba(255, 249, 233, 0.5) url('../img/playing-oc.gif') no-repeat;
            background-size: 100% auto;
            background-position: center 3px;
          }

        .happy-lemons {
          background: url('../img/contentment-oc.png') no-repeat;
          background-size: 100% auto;
          background-position: center 2px;
        }

          .happy-lemons:hover {
            background: rgba(255, 249, 233, 0.5) url('../img/contentment-oc.gif') no-repeat;
            background-size: 100% auto;
            background-position: center 2px;
          }

        .busy-bee {
          background: url('../img/waste-oc.png') no-repeat;
          background-size: 100% auto;
          background-position: 0 0;
        }

          .busy-bee:hover {
            background: rgba(255, 249, 233, 0.5) url('../img/waste-oc.gif') no-repeat;
            background-size: 100% auto;
            background-position: 0 0;
          }

        .protagonist-pages {
          background: url('../img/growth-oc.png') no-repeat;
          background-size: 100% auto;
          background-position: 0 0;
        }

          .protagonist-pages:hover {
            background: rgba(255, 249, 233, 0.5) url('../img/growth-oc.gif') no-repeat;
            background-size: 100% auto;
            background-position: 0 0;
          }

        .plottwister {
          background: url('../img/plottwister.png') no-repeat;
          background-size: 297px auto;
          background-position: 0 30px;
        }

        .plottwister:hover {
          background: rgba(255, 255, 255, 0.7) url('../img/plottwister-oc.gif') no-repeat;
          background-size: 297px auto;
          background-position: 0 30px;
        }

}
