#topBar {
  display: none;
}

#trailWrap {
  position: relative;
  width: calc(100vw - 16px);
  height: calc(100vh - 70px);
  margin: 61px 8px 8px 8px;
  font: 400 1em/1.25em benton-sans-condensed, sans-serif;
  letter-spacing: -0.015em;
  border: 1px solid #000;
}

#chartWrap {
  height: 60%;
  border-bottom: 1px solid #000;
}

#plotsWrap {
  // border: 1px solid red;
  height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
}

#plots {
  position: relative;
  margin: 0 0 10px 0;
  width: 100%;
  // border-top: 1px solid #000;
  overflow: hidden;
}

  .bar {
    position: absolute;
    left: 42px;
    height: 6000px;
    margin-top: -3000px;
    border-left: 1px solid #000;
  }

  .plot {
    display: block;
    margin-left: 54px;
    user-select: none;
  }

    .plot .plot { margin-left: 0; }
    .plot .plot .plot { margin-left: 10px; }

  .plotVisibility {
    position: absolute;
    left: 0;
    -webkit-appearance: none;
    background: url('../img/book-closed.png') no-repeat center center;
    background-size: 22px auto;
    width: 42px;
    height: 40px;
    outline: none;
  }

  .expandCarrot {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 14px;
    height: 8px;
    background: url('../img/expand.png') no-repeat right center;
    background-size: 100% auto;
  }

  .plotName {
    display: block;
    padding: 10px 0;
    min-height: 20px;
    color: #9d948c;
    font-size: 0.9em;
  }

    .plot .plot .plotName {
      padding: 10px 0 10px 20px;
      background: url('../img/breadcrumb-gray.png') no-repeat left center;
      background-size: 15px auto;
    }

    .plotVisibility:checked {
      background: url('../img/book-open.png') no-repeat center center;
      background-size: 32px auto;
      outline: none;
    }

    .plotVisibility:checked {
      color: #000;
    }

    .plot .plot .plotVisibility:checked {
      background: url('../img/breadcrumb.png') no-repeat left center;
      background-size: 15px auto;
    }

  .divider {
    width: 6000px;
    margin-left: -3000px;
    border-top: 1px solid #000;
  }

@media screen and (min-device-width: 800px) and (min-width: 800px) {

  #topBar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    font: 500 1.2em/50px benton-sans-compressed, sans-serif;
    border-bottom: 1px solid #000;
  }

  #trailWrap {
    width: calc(100% - 24px);
    height: calc(100vh - 120px);
    margin: 65px 12px 10px 12px;
  }

  #plotsWrap {
    position: absolute;
    display: block !important;
    top: 50px;
    left: 0;
    margin: 0;
    width: 270px;
    height: calc(100% - 50px);
  }

  #plots {
    position: absolute;
    display: block !important;
    top: 0;
    left: 0;
    width: 270px;
    // height: calc(100% - 50px);
    // padding: 10px 0 0 0;
    // border-right: 1px solid #000;
    border-top: none;
  }

  #chartWrap {
    position: absolute;
    display: block !important;
    top: 50px;
    right: 0;
    margin: 0;
    width: calc(100% - 270px);
    height: calc(100% - 50px);
    border-left: 1px solid #000;
    border-bottom: none;
  }

}
