@media screen and (min-device-width: 800px) and (min-width: 800px) {

  #wrap {
    position: relative;
    margin: 20px auto;
    width: 80vw;
    height: calc(100vh - 40px);
    max-width: 1100px;
    border: 1px solid #000;
  }

  nav {
    position: absolute;
    top: 0;
    margin: 0 0 10px 0;
    width: 100%;
  }

  #gameWrap {
    width: calc(100% - 24px);
    height: calc(100vh - 120px);
    margin: 65px 12px 10px 12px;
  }

  #breadcrumb {
    margin: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #000;
  }

  #flip {
    display: none;
  }

  #list {
    position: absolute;
    display: block !important;
    top: 50px;
    left: 0;
    margin: 0;
    width: 270px;
    height: calc(100% - 50px);
    padding: 10px 0 0 0;
    border-right: 1px solid #000;
    /* border-top: 1px solid red; */
  }

    #list .list-item {

    }

  #game {
    position: absolute;
    display: block !important;
    top: 50px;
    right: 0;
    margin: 0;
    width: calc(100% - 270px);
    height: calc(100% - 50px);
    /* border-top: 1px solid red; */
  }

    #trash, #checkmark, #undo, #redo {
      bottom: 12px;
    }

}
