#cookieTrail {
 margin: 0 0 100px 0;
 background: rgba(250,249,239,0.5) url('../img/trail-img.jpg') no-repeat;
 background-size: 100% auto;
 padding-bottom: 41%;
 border-bottom: 1px solid rgba(185,182,169,0.5);
}
