/* ---------- MODULES ---------- */

		.modules {
			margin: 5vw auto;
			width: 96%;
      text-align: center;
		}

		/* all */
		.modules .block {
			position: relative;
			border: 1px solid black;
			height: 210px; /* will change */
			margin-right: 0.5vw;
		}

		/* threes */
		.threes {
			display: inline-block;
			width: 30.5vw;
		}

			.threes:last-child, .twos:last-child { margin-right: 0; }

			.threes h3, .twos h3 {
				max-width: 120px;
				font-size: 0.95em;
			}

		/* twos */
		.twos.double {
			border: none;
		}

		.twos {
			display: inline-block;
			margin: 10px 0 0 0;
		}

      .twos.plottwister h3 {
        max-width: 260px;
      }

		.double {
			width: 30vw;
			height: 400px !important;
		}

		.double .inner {
			width: 99%;
			height: 220px !important; /* will change */
		}

		.double .inner:first-child {
			margin: -0.4vw 0 1.5vw !important;
		}

		.double .inner:last-child {
			margin-bottom: 0;
		}

		.twos.plottwister {
			float: right;
			margin: 8px 0.5vw 8px 0.5vw;
			width: 63vw;
			height: 450px !important;
		}

			.twos.plottwister h2 {
				font-size: 1.3em;
				margin-bottom: 2px;
			}

		/* ones */
		.one {
			clear: both;
			width: 94.7vw;
			height: auto !important;
			margin: 0 auto 1.8vw;
			text-align: left;
		}

			.one h2 {
				margin: 0;
				padding: 8px 0 8px 10px;
				font-size: 1.5em;
				border-bottom: 1px solid black;
			}

		/* ---------- MODULE ACTIONS ---------- */

		.action-buttons {
			position: absolute;
			bottom: 0;
			margin-top: 20px;
			width: 100%;
		}

			.action-buttons .printable, .action-buttons .open, .printables-list {
				display: block;
				height: 40px;
				line-height: 2.5em;
				border-top: 1px solid black;
				background: #e9e2d7;
				font-family: benton-sans-compressed, sans-serif;
				font-weight: 500;
				font-size: 1em;
				text-align: left;
				padding-left: 10px;
				text-decoration: none;
			}

			.open, .action-buttons .open {
				background: #f4f1eb url('../img/open.png') no-repeat;
				background-size: 30px auto;
				background-position: right center;
			}

			.action-buttons .open:hover, .open:hover {
				background: #95dd61 url('../img/open.png') no-repeat;
				background-size: 30px auto;
				background-position: right center;
			}

      .action-buttons .printable:hover {
        background: #ffd349;
      }


/* ---------- PRINTABLES LIST HOVER ---------- */
.printables-list {
  display: none;
  position: absolute;
  left: -1px;
  width: 101.5%;
  z-index: 100;
  padding: 0;
}

.action-buttons .printables-tab .printable {
  background: #e9e2d7 url('../img/printables-tab.png') no-repeat;
  background-size: 30px auto;
  background-position: right center;
}
.action-buttons .printables-tab .printable:hover {
  background: #dfd4c6 url('../img/printables-tab.png') no-repeat;
  background-size: 30px auto;
  background-position: right center;
}

  .action-buttons .printables-tab .printables-list .printable {
    margin: 0;
    clear: both;
    background: #e9e2d7;
    border: 1px solid black;
    border-top: none;
  }

  .action-buttons .printables-tab .printables-list .printable:hover {
    margin: 0;
    background: #f4da96;
  }

    .action-buttons .printables-tab .printables-list .download-all { background: #ffd349; }

    .action-buttons .printables-tab .printables-list .download-all:hover { background: #efc335; }

.printables-tab:hover .printables-list {
  display: block;
}

/* ---------- plot twister specifically ---------- */


@media screen
			and (min-device-width: 605px)
			and (min-width: 605px) {

        /* ---------- MODULES ---------- */

        				.modules {
        					margin: 8px 0;
        					width: 100%;
        				}

        				/* all */
        				.modules .block {
        					border: 2px solid black;
        					height: 180px;
        					margin: 0 5px 0 0;
        				}

        				/* threes */
        				.threes {
                  padding: 5px 0;
        					width: 190px;
        				}

                  .threes h2 {
                    font-size: 1.3em;
                    text-align: center;
                  }

        					.threes h3 {
                    margin: auto;
                    max-width: 160px;
                    text-align: center;
                  }

        					.threes:last-child { margin-right: 0; }

        				/* twos */

        				.twos.double { border: none; }

        				.twos {
        					display: inline-block;
        					width: 292px;
        					height: auto !important;
        					margin: 10px 0 10px !important;
        				}

                .inner h2 {
                  font-size: 1.35em;
                  margin: 28px 0 0 95px;
                }
                .inner h3 {
                  max-width: 150px;
                  margin: 0 0 0 95px;
                }

        				.twos:last-child { margin-right: 0; }

        				.twos.double {
        					float: left;
        					margin: 10px 0 0 0;
        				}

        				.double .inner {
        					width: 100%;
        					height: 170px !important; /* will change */
        				}

        				.double .inner:first-child {
        					margin: 0 0 10px 0 !important;
        				}

        				.twos.plottwister {
        					margin: 10px 0 0 0;
        					width: 292px;
        					height: 354px !important; /* will change */
        				}

									.plottwister h2 {
										font-size: 1.6em !important;
										margin-top: 10px;
								}

                  .plottwister h2, .plottwister h3 {
										margin-left: 12px;
                  }

        				/* ones */
        				.one {
        					width: 595px;
        					/* height: 180px !important; /* will change */
        					margin: 0 0 10px !important;
        				}

        /* ---------- MODULE ACTIONS ---------- */

        					.action-buttons .printable, .action-buttons .open {
        						display: inline-block;
        						float: left;
        						height: 40px;
        						line-height: 2.3em;
        						font-size: 1.1em;
        					}

        					.action-buttons .printable {
        						width: 64px;
        						border-right: 1px solid black;
        					}

        					.action-buttons .open {
        						width: 105px;
        						background: #f4f1eb url('../img/open.png') no-repeat;
        						background-size: 30px auto;
        						background-position: right center;
        					}

                  .double .action-buttons .open { width: 207px; }

/* ---------- HOMEWORK TWISTER PRINTABLE HOVER ---------- */

  .action-buttons .printables-tab .printable { width: 100px; }
  .twos .action-buttons .open { width: 171px; }

  .printables-list {
    top: 40px;
    width: 142px;
  }

  .printables-list .printable {
    display: block !important;
    width: 130px !important;
  }

}

/* ---------- BACKGROUND IMAGES ---------- */

.feelings-designer {
  background: url('../img/emotions.png') no-repeat;
  background-size: 70px auto;
  background-position: 85% 45%;
}

.five-second-futures {
  background: url('../img/playing.png') no-repeat;
  background-size: 60px auto;
  background-position: 90% 47%;
}

.happy-lemons {
  background: url('../img/contentment.png') no-repeat;
  background-size: 42px auto;
  background-position: 90% 45%;
}

.busy-bee {
  background: url('../img/waste.png') no-repeat;
  background-size: 35px auto;
  background-position: 88% 45%;
}

.protagonist-pages {
  background: url('../img/growth.png') no-repeat;
  background-size: 40px auto;
  background-position: 88% 45%;
}

.plottwister {
  background: url('../img/plottwister.png') no-repeat;
  background-size: 380px auto;
  background-position: 60% 20%;
}

@media screen
			and (min-device-width: 605px)
			and (min-width: 605px) {

        .feelings-designer {
          background: url('../img/emotions-oc.png') no-repeat;
          background-size: 100% auto;
          background-position: center 3px;
        }

          .feelings-designer:hover {
            background: rgba(255, 249, 233, 0.5) url('../img/emotions-oc.gif') no-repeat;
            background-size: 100% auto;
            background-position: center 3px;
          }

        .five-second-futures {
          background: url('../img/playing-oc.png') no-repeat;
          background-size: 100% auto;
          background-position: center 3px;
        }

          .five-second-futures:hover {
            background: rgba(255, 249, 233, 0.5) url('../img/playing-oc.gif') no-repeat;
            background-size: 100% auto;
            background-position: center 3px;
          }

        .happy-lemons {
          background: url('../img/contentment-oc.png') no-repeat;
          background-size: 100% auto;
          background-position: center 2px;
        }

          .happy-lemons:hover {
            background: rgba(255, 249, 233, 0.5) url('../img/contentment-oc.gif') no-repeat;
            background-size: 100% auto;
            background-position: center 2px;
          }

        .busy-bee {
          background: url('../img/waste-oc.png') no-repeat;
          background-size: 100% auto;
          background-position: 0 0;
        }

          .busy-bee:hover {
            background: rgba(255, 249, 233, 0.5) url('../img/waste-oc.gif') no-repeat;
            background-size: 100% auto;
            background-position: 0 0;
          }

        .protagonist-pages {
          background: url('../img/growth-oc.png') no-repeat;
          background-size: 100% auto;
          background-position: 0 0;
        }

          .protagonist-pages:hover {
            background: rgba(255, 249, 233, 0.5) url('../img/growth-oc.gif') no-repeat;
            background-size: 100% auto;
            background-position: 0 0;
          }

        .plottwister {
          background: url('../img/plottwister.png') no-repeat;
          background-size: 297px auto;
          background-position: 0 30px;
        }

        .plottwister:hover {
          background: rgba(255, 255, 255, 0.7) url('../img/plottwister-oc.gif') no-repeat;
          background-size: 297px auto;
          background-position: 0 30px;
        }

}
