#audio { display: none; }

.audio {
  display: block;
  position: absolute;
  left: 10px;
  top: -12px;
}

#playAudio.inactive, #playAudio.active {
  -webkit-appearance: none !important;
  display: block;
  width: 13vw;
  height: 13vw;
  background: url('../img/speaker.png') no-repeat;
  background-size: 10vw auto;
  background-position: center center;
  border: none;
}

#playAudio.active {
  display: block;
  background: #bae17c url('../img/speaker-on.gif') no-repeat;
  background-size: 10vw auto;
  background-position: center center;
  border: 1px solid #000;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.15);
}

#playAudio span, #timeline, #playhead { display: none; }

@media screen
    and (min-device-width: 420px)
    and (min-width: 420px) {

  .audio {
    display: block;
    position: relative;
    margin: 15px auto 15px;
    width: 93%;
    top: auto;
    right: auto;
    left: auto;
  }

  #playAudio.inactive, #playAudio.active {
    -webkit-appearance: none !important;
    display: block;
    width: 100%;
    height: 58px;
    padding: 6px 0 4px 9px;
    background: url('../img/speaker.png') no-repeat;
    background-size: 38px auto;
    background-position: right 8px center;
    font-family: benton-sans, sans-serif;
    font-size: 1em;
    text-align: left;
    border: 1px solid #000;
  }

    #playAudio span {
      display: block;
      position: absolute;
      top: 8px;
      left: 12px;
      font-size: 0.9em;
    }

  #playAudio.active {
    display: block;
    background: #bae17c url('../img/speaker-on.gif') no-repeat;
    background-size: 38px auto;
    background-position: right 8px center;
  }

  #timeline {
    display: block;
    position: absolute;
    top: 18px;
    left: 12px;
    width: calc(100% - 75px);
    height: 2px;
    background: #222325;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
  }

  #playhead {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    margin-top: -6px;
    background: #fff;
    border: 1px solid #000;
  }

}

@media screen
    and (min-device-width: 605px)
    and (min-width: 605px) {

    .audio {
      margin: 0;
      display: block;
      position: absolute;
      top: 159px;
      right: 0;
      width: auto;
    }

    #playAudio.inactive, #playAudio.active {
      -webkit-appearance: none !important;
      display: block;
      width: 190px;
      height: 82px;
      padding: 6px 0 4px 9px;
      background: url('../img/speaker.png') no-repeat;
      background-size: 38px auto;
      background-position: right 8px top 10px;
      font-family: benton-sans, sans-serif;
      font-size: 1em;
      line-height: 1.4em;
      text-align: left;
      border: 2px solid #000;
    }

      #playAudio span {
        display: block;
        position: absolute;
        top: 8px;
        left: 10px;
        width: 50%;
        font-size: 1em;
        line-height: 1.34em;
      }

    #playAudio.active {
      display: block;
      background: #bae17c url('../img/speaker-on.gif') no-repeat;
      background-size: 38px auto;
      background-position: right 8px top 10px;
    }

  #timeline {
    position: absolute;
    top: auto;
    bottom: 13px;
    left: 10px;
  	width: 167px;
  	height: 3px;
  	background: #222325;
  	margin-top: 20px;
  	float: left;
  	border-radius: 15px;
  }

  #playhead {
  	width: 12px;
  	height: 12px;
  	border-radius: 20px;
  	margin-top: -6px;
  	background: #fff;
    border: 1px solid #000;
  }

}

@media screen
    and (min-device-width: 860px)
    and (min-width: 860px) {

    .audio {
      top: 125px;
    }

}
