#audio { display: none; }

.audio {
  display: block;
  position: relative;
  margin: 15px auto 5px;
  width: 70px;
}

#playAudio.inactive, #playAudio.active {
  -webkit-appearance: none !important;
  display: block;
  width: 70px;
  height: 60px;
  background: #ffcc32 url('../images/speaker.png') no-repeat;
  background-size: 38px auto;
  background-position: center center;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border-radius: 50px;
}

#playAudio.active {
  background: #F9E4B0 url('../images/speaker-on.gif') no-repeat;
  background-size: 38px auto;
  background-position: center center;
}

#playAudio span, #timeline, #playhead {
       display: none;
}

@media screen
    and (min-device-width: 700px)
    and (min-width: 700px) {

    .audio {
      margin: 0;
      display: block;
      position: absolute;
      top: 4px;
      right: 0;
      width: auto;
    }

    #playAudio.inactive, #playAudio.active {
    -webkit-appearance: none !important;
    display: block;
      width: 220px;
      height: 60px;
      padding: 6px 0 4px 9px;
      background: url('../images/speaker.png') no-repeat;
      background-size: 38px auto;
      background-position: left 8px center;
      font-family: 'itc-franklin-gothic-lt-book', sans-serif;
      border: 2px solid #000;
      box-shadow: none;
      border-radius: 8px;
    }

    #playAudio.active {
      background: #F9E4B0 url('../images/speaker-on.gif') no-repeat;
      background-size: 38px auto;
      background-position: left 8px center;
    }

    #playAudio span {
           display: block;
           position: absolute;
           top: 11px;
           left: 60px;
           font-size: 1.1em;
           letter-spacing: 0.005em;
    }

  #timeline {
       display: block;
       position: absolute;
       top: 20px;
       left: 60px;
       width: 140px;
       height: 2px;
       background: #222325;
       margin-top: 20px;
       float: left;
       border-radius: 15px;
  }

  #playhead {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    margin-top: -8px;
    background: #fff;
    border: 1px solid #000;
  }

}

@media screen
      and (min-width: 1000px) {

             #playAudio.inactive, #playAudio.active {
               width: 280px;
               height: 62px;
               background: url('../images/speaker.png') no-repeat;
               background-size: 39px auto;
               background-position: left 8px center;
               font-family: 'itc-franklin-gothic-lt-book', sans-serif;
               border: 2px solid #000;
               box-shadow: none;
               border-radius: 8px;
             }

             #playAudio.active {
               background: #F9E4B0 url('../images/speaker-on.gif') no-repeat;
               background-size: 39px auto;
               background-position: left 8px center;
             }

             #playAudio span {
                    top: 11px;
                    left: 64px;
                    font-size: 1.25em;
                    letter-spacing: 0.01em;
             }

             #timeline {
                  display: block;
                  position: absolute;
                  top: 24px;
                  left: 64px;
                  width: 200px;
                  height: 2px;
                  background: #222325;
                  margin-top: 20px;
                  float: left;
                  border-radius: 15px;
             }

}
