/*


*/

body {
      margin: 0;
      padding: 0;
      background: #EDE7E2 url('../images/bg.jpg');
      background-size: 500px auto;
      font: normal 1em 'itc-franklin-gothic-lt-book', sans-serif;
}

div, section, article, a {
      box-sizing: border-box;
}

a {
      color: #000;
      font-weight: 500;
      text-decoration: none;
}

p {
      margin: 0.5em 0 1em;
      font: normal 1em/1.8em 'itc-franklin-gothic-lt-book', sans-serif;
      text-align: left;
}

       p a { border-bottom: 2px solid rgba(0,0,0,1); }

img { max-width: 100%; }

h2 {
      margin: 0.5em 0;
      font: 300 italic 1.7em 'freight-text-light-italic', serif;
      text-align: center;
      letter-spacing: 0.02em;
}

h3 {
      margin: 1.5em 0 0;
      font: 500 1.4em/1.5em 'benton-sans-condensed-medium', sans-serif;
      text-align: left;
}

h4 {
      margin: 10px 0 6px;
      font: 500 1.1em/1em 'benton-sans-medium', sans-serif;
}

button:focus {
       border: none;
       outline: none;
}

.wrap {
      width: 90vw;
      margin: 20px auto;
      text-align: center;
}

header {
      position: relative;
      padding: 15px 0 5vw 0;
}

header.section {
       display: inline-block;
       width: auto;
       margin: auto;
       padding: 10px 20px;
       text-align: center;
       border: 2px solid #000;
       border-radius: 8px;
}

       header.section h2 {
              display: none;
       }

       header.section h1 {
              margin: 10px auto 5px;
       }


.social {
       display: inline-block;
       /* border: 1px solid red; */
}

       .social a {
              display: inline-block;
              margin: 0 10px 0 0;
              height: 24px;
              width: auto;
              opacity: 0.8;
              transition: opacity .4s ease-in-out;
              -moz-transition: opacity .4s ease-in-out;
              -webkit-transition: opacity .4s ease-in-out;
       }

              .social a:hover {
                     opacity: 1;
              }

              .social a img { height: 100%; }

       .social a:last-child {
              margin: 0;
       }

@media screen
      and (min-width: 700px) {

      h2 {
            font: 300 italic 1.8em/1.6em 'freight-text-light-italic', serif;
            text-align: center;
            letter-spacing: 0.03em;
      }

      h3 {
            margin: 1.25em 0 0.5em;
      }

       .skinny-wrap {
             width: 560px;
       }

       header {
           display: flex;
           flex-direction: row;
           padding: 0 0 15px 0;
           height: 45px;
           /* border: 1px solid red; */
       }

       header.section {
              display: inline-block;
              height: auto;
              margin: 20px auto 30px;
              padding: 20px 60px;
       }

              header.section h2 {
                     display: block;
                     font: normal 1.5em 'freight-text-light-italic', serif;
              }

}

@media screen
      and (min-width: 1000px) {

             p, ul li { font-size: 1.15em; }

}
